:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --background-color: #F5F4FA;

}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-inline-start: 0;
}
img {
    display: block;
}


.list-navigation__link--inline {
    color: var(--accent-color);
}
.social {
    fill: rgba(255, 255, 255, 0.1);
}
.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}



/* .studio {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
} */
.list-navigation__link--element::after {
    position: absolute;
    content:"";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196F3;
}


.container-head__link {
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    vertical-align: Top;
    color: #000000;
    text-decoration: none;
    margin-right: 93px;
    }
.web-studio-footer{
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    vertical-align: Top;
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 20px;
    display: block;
    }
.container-head__web {
    color: var(--accent-color);
    }

/* .navigation.inline {
    color: var(--accent-color);
    } */
.navigation:hover,
.navigation:focus{
    color: var(--accent-color);
    }
.navigation-footer {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
    display: inline-block;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-footer:hover,
.navigation-footer:focus{
    color: var(--accent-color);
}



.backdrop {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    width: 528px;
    height: 581px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    
}
.button-close {
    position: fixed;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: #FFFFFF;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close:hover,
.button-close:focus {
    fill: var(--accent-color);
}



.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility:hidden;
}

.link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
    display: inline-block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}


.navigation {
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
    display: inline-block;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.list-contact__link--color {
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
}
/* .ikon-mail::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 12px;
    margin-right: 10px;
    background-image: url(../images/png/envelope.svg);
}
.ikon-tel::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 16px;
    margin-right: 10px;
    background-image: url(../images/png/smartphone.svg);
} */

.body {
    font-family: Roboto;
    color: #757575;
    }

.contacts {
    color: rgba(255, 255, 255, 0.6);
}
.text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-decoration: none;
}
.address {
    font-style: inherit;
}
.join {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}
/*.hide {
    display: none;
}*/

.hide {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.list .button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--title-text-color);
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.button:hover,
.button:focus{
    background-color: var(--accent-color);
    color: #FFFFFF;
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button {
    border-color: transparent;
    border-radius: 4px;
}
.headlines {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}
.paragraph {
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.headlines-benefits {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #212121;
}
.paragraph-benefits {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
.home-button {
    min-width: 200px;
    text-align: center;
    padding-top: 10px;
    padding-left: 32px;
    padding-bottom: 10px;
    padding-right: 32px;
    font-family: inherit;
    font-weight: 700;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.home-button:hover{
    background-color: #188CE8;
}

.main-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 696px;
    display: inline-block;
    margin-bottom: 30px;
}
.hero {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #C4C4C4;
    background-image:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
}
.names {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 10px;
}
.names-position {
    padding-top: 30px;
    padding-bottom: 30px;
}
.position {
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}
/* ДЗ 3 */
.container-head {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
   /* outline: 2px solid tomato;*/
}
.head {
    border-bottom: 1px solid #ECECEC;
    /* padding-top: 24px;
    padding-bottom: 25px; */
}
.section {
    padding-top: 94px;
}
.section-works {
    padding-top: 94px;
    padding-bottom: 94px;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    /*outline: 2px solid tomato;*/
}

.container-head {
    display: flex;
    align-items: center;
}
.list-contact {
    display: flex;
    margin-left: auto;
    list-style: none;
}


.list-navigation--style-none {
    list-style: none;
}
.list {
    list-style: none;
}
.list-navigation {
    display: flex;
}
.list-navigation__item:not(:last-child) {
    margin-right: 50px;
}
.list-navigation__item {
    position: relative;
}
.list-contact__item {
    margin-right: 30px;
}
.list-contact__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    /* color: #212121; */
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-contact__link:hover,
.list-contact__link:focus {
    color: var(--accent-color);
}
.list-navigation__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
    display: inline-block;
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-navigation__link:hover,
.list-navigation__link:focus {
    color: var(--accent-color);
}
.benefits {
    display: flex;
    justify-content: space-between;
}
.benefit {
    width: 270px;
    margin-right: 30px;
}
.benefit:last-child {
    margin-right: 0;
}
.works {
    display: flex;
    justify-content: space-between;
}
.work {
    margin-right: 30px;
    position: relative;
}
.work-position {
    position: absolute;
    height: 70px;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    background-color: rgba(47, 48, 58, 0.8);;
}

.work:last-child {
    margin-right: 0;
}
.team {
    display: flex;
    justify-content: space-between;
}
.team-member {
    margin-right: 30px;
    text-align: center;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-member:last-child {
    margin-right: 0;
}

.container-team {
    background-color: var(--background-color);
    padding-top: 94px;
    padding-bottom: 94px;
}
.container-team > .container {
    margin-bottom: 0;
}

.text-footer:not(:last-child) {
    margin-bottom: 9px;
}


/* Portfolio */
/* Portfolio */
.portfolio .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.button-menu {
    margin-right: 8px;
}
.menu .button-menu:last-child {
    margin-right: 0;
}
.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.action {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color: rgba(33, 150, 243, 0.9);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
}



.project-link:hover .action{
    opacity: 1;
    transform: translateY(0);
}



.action-text {
    max-width: 322px;
    max-height: 168px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}


.project-action {
    position: relative;
    overflow: hidden;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.projects .project {
    background-color: #ffffff;
}
.projects .project:nth-child(-n+6) {
    margin-bottom: 30px;
}



.project-link {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}



.project-link:hover,
.project-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}
.project > .project-link {
    display: block;
    text-decoration: none;
}

.project .headlines {
    margin-bottom: 4px;
}

.paragraph-headlines {
    padding-top: 24px;
    padding-right: 20px;
    padding-bottom: 24px;
    padding-left: 20px ;
    border: 1px solid #EEEEEE;
    border-top: none;
}

/* Ikons */




.socials-list {
    display: flex;
    justify-content: center;
    align-items: center;
}
.socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover,
.socials-link:focus {
    background-color: var(--accent-color);
}
.socials-item:not(:last-child) {
    margin-right: 10px;
}
.socials-item {
    width: 44px;
    height: 44px;
}
.socials-ikon {
    fill: #FFFFFF;
}
.join-section {
    margin-left: 70px;
}
.join {
    margin-bottom: 20px;
}



.socials-ikon-team {
    fill: #AFB1B8;
}
.socials-ikon-team:hover,
.socials-ikon-team:focus {
    fill: #FFFFFF;
}




.list-contact--ikon {
    fill: currentColor;
    margin-right: 10px;
}
.benefit-ikons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
}
.benefit-ikon {
    background-size: cover;
    justify-content: center;
}
.container-footer {
    display: flex;
    align-items: baseline;
}
.clients-list {
    display: flex;

}
.section-clients {
    padding-top: 94px;
    padding-bottom: 94px;
}
.clients-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}




.clients-link:hover .clients-ikon,
.clients-link:focus .clients-ikon {
    fill: var(--accent-color)
}
.clients-link:hover,
.clients-link:focus {
    border-color: var(--accent-color);
}
.clients-item:not(:last-child) {
    margin-right: 30px;
}
.clients-item {
    width: 170px;
    height: 92px;
}
.clients-ikon {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.subscription {
    margin-left: 93px;
}
.subscription-icon {
    fill: #FFFFFF;
    margin-left: 10px;
    vertical-align: middle;
    
}
.form-input {
    width: 358px;
    height: 50px;
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    margin-right: 12px;
    padding: 15px;
}


input::placeholder {
    margin-left: 16px;
}
.subscription-form > .footer-button {
    padding-left: 20px;
    padding-right: 20px;
}




/* Модалка */


.form-title {
    display: block;
    text-align: center;
    font-size: 20px;
    margin-bottom: 12px;
    letter-spacing: 0.03em;
    color: #212121;
}
.form-group,
.form-policy-group {
    display: block;
    margin-bottom: 10px;
}
.form-group {
    position: relative;
}
.form-icon {
    position: absolute;
    top: 34px;
    left: 12px;
    fill: #212121;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

 .form-modal-label {
     display: block;
     margin-bottom: 4px;

 }

 .form-input-mod {
    width: 100%;
    padding: 11px 11px 11px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1)
 }
 .custom-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 15px;
    outline: 2px solid var(--title-text-color);
    margin-right: 7px;
    border-radius: 2px;
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1)
 }
 .custom-checkbox-icon {
    background-color: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .checkbox:checked + .custom-checkbox {
    outline: 2px solid #2196F3;
 }
 .checkbox:checked + .custom-checkbox .custom-checkbox-icon{
    background-color: #2196F3;
}
.checkbox:focus + .custom-checkbox{
    outline: 2px solid var(--accent-color);
}
.form-policy-group {
    display: flex;
    align-items: center;

}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.form-policy-description {
    font-size: 14px;
    line-height: 24px; 
    letter-spacing: 0.03em;
}
.form-policy-link {
    color: #2196F3;
}
.submit-btn {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.form-group .textarea {
    resize: none;
    height: 120px;
    padding: 12px 16px;
}
.form-group:focus-within .form-input-mod {
    border: 1px solid var(--accent-color);
}
.form-group:focus-within .form-icon {
    fill: var(--accent-color);
}


::placeholder{
    color: rgba(117, 117, 117, 0.5);
}